/*main palette*/
$color-0: #bbc4d9;
$color-1: #7e91b9;
$color-2: #133780;
$color-3: #2157c5;

/*paragraph palette*/
$color-bolder: rgb(25, 25, 25);
$color-bold: rgb(50, 50, 50);
$color-normal: rgb(75, 75, 75);
$color-light: rgb(100, 100, 100);
$color-lighter: rgb(125, 125, 125);