/*main palette*/
$color-0: #e9eaeb;
$color-1: #e3f1fe;
$color-2: #34abea;
$color-3: #2355b2;

/*paragraph palette*/
$color-bolder: rgb(25, 25, 25);
$color-bold: rgb(50, 50, 50);
$color-normal: rgb(75, 75, 75);
$color-light: rgb(100, 100, 100);
$color-lighter: rgb(125, 125, 125);