@import "Colors";

/*color-0 border*/
._border-color-0{
  border: solid $color-0 1px;
}
._border-b-color-0{
  border-bottom: solid $color-0 1px;
}
._border-t-color-0{
  border-top: solid $color-0 1px;
}

/*color-1 border*/
._border-color-1{
  border: solid $color-1 1px;
}
._border-b-color-1{
  border-bottom: solid $color-1 1px;
}
._border-t-color-1{
  border-top: solid $color-1 1px;
}
._border-t-color-1:hover{
  border-top: solid $color-2 1px;
}

/*color-2 border*/
._border-color-2{
  border: solid $color-2 1px;
}
._border-b-color-2{
  border-bottom: solid $color-2 1px;
}
._border-t-color-2{
  border-top: solid $color-2 1px;
}

/*background*/
._bg-color-0{
  background: $color-0;
}
._bg-color-1{
  background: $color-1;
}
._bg-color-2{
  background: $color-2;
}
._bg-color-3{
  background: $color-3;
}

/*text-color*/
._text-color-0{
  color: $color-0;
}
._text-color-1{
  color: $color-1;
}
._text-color-2{
  color: $color-2;
}
._text-color-3{
  color: $color-3;
}

._hover{
  cursor: pointer;
}
._hover:hover{
  background: $color-0;
}