$center-margin: 25rem;
._homepage-layout{
  gap: 1rem;
  width: 100%; height: fit-content;
  display: flex;
  justify-content: center;

  ._center-parm{
    width: 108rem; height: fit-content;
    display: grid;
  }

  ._left-parm{
    width: 70rem; height: fit-content;
    display: block;
  }
  ._right-parm{
    width: 38rem; height: fit-content;
    display: block;
  }
}
._scroller{
  width: inherit;
}