$center-margin: 25rem;
._homepage-layout{
  width: calc(100% - ($center-margin * 2)); height: 100vh;
  display: flex;
  overflow-x: hidden; overflow-y: hidden;
  margin: 0 $center-margin 0 $center-margin;
  gap: 1rem;

  ._left-parm{
    width: 65%;
    display: block;
    overflow-y: scroll;
    background: #f0f0f0;
  }
  ._right-parm{
    width: 35%;
    display: block;
  }
}
._scroller{
  width: 100%; height: fit-content;
}