@import "Colors";

/*heading*/
._heading-4{
  font-weight: 600;
  font-size: 1rem;
}
._heading-6{
  font-weight: 600;
  font-size: 1.5rem;
}
._heading-8{
  font-weight: 600;
  font-size: 2rem;
}
._heading-16{
  font-weight: 800;
  font-size: 3rem;
}

/*paragraph*/
._paragraph-4{
  font-weight: 400;
  font-size: 1rem;
}
._paragraph-5{
  font-weight: 400;
  font-size: 1.25rem;
}
._paragraph-6{
  font-weight: 400;
  font-size: 1.5rem;
}
._paragraph-7{
  font-weight: 400;
  font-size: 1.75rem;
}
._paragraph-8{
  font-weight: 550;
  font-size: 2rem;
}
._paragraph-10{
  font-weight: 550;
  font-size: 2.5rem;
}

/*text-color */
._text-color-bolder{
  color: $color-bolder;
}
._text-color-bold{
  color: $color-bold;
}
._text-color-normal{
  color: $color-normal;
}