<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');
=======
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import 'styles/Animation.css';
@import 'styles/Common.css';
>>>>>>> feat/2-1

@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD
html{
		font-size: 10px;
		font-family: "Gothic A1", sans-serif;
}

body{
		padding: 10rem 20rem 0 20rem;
}
=======
html {
  font-size: 18px;
  font-family: 'Noto Sans', sans-serif;
}
>>>>>>> feat/2-1
