@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
		font-size: 10px;
		font-family: "Gothic A1", sans-serif;
}

body{
		padding: 10rem 20rem 0 20rem;
}